body, html {
    padding: 0px;
    margin: 0px;
    font-family: "Droid Sans Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 18px;
  }

.break-line * {
    white-space: pre-wrap;
    word-break: break-all;
}

.home-wrapper{
    display: flex;
    width: 100%;
    max-height: 100vh;
}
.panel-one{
    padding: 20px;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}
.panel-two{
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
}
