body,
html {
  padding: 0px;
  margin: 0px;
  font-family: 'Droid Sans Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

.break-line * {
  white-space: pre-wrap;
  word-break: break-all;
}

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: scroll;
}

.home-wrapper {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.left-panel-wrapper {
  padding: 20px;
}

.right-panel-wrapper {
  align-content: stretch;
  padding: 20px;
}

.right-panel-wrapper div:nth-child(1) {
  flex: 2;
}