body,
html {
  padding: 0px;
  margin: 0px;
  font-family: 'Droid Sans Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

ul{
  margin: 0px;
}

li {
  list-style-type: none;
}

.break-line * {
  white-space: pre-wrap;
  word-break: break-all;
}

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.home-wrapper {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.left-panel-wrapper {
  overflow-y: auto;
  padding: 20px;
}

.right-panel-wrapper {
  align-content: space-between;
  padding: 20px;
  overflow: hidden;
}

.chat-log {
  flex: 1 1 50vh;
  overflow-y: auto;
}

.messages {
  flex: 1 1 40vh;
  max-height: 100%;
  overflow-y: auto;
}

.bamboo-log {
  flex: 0 0 15rem;
  max-width: 100%;
  overflow-x: auto;
}

.log-item {
  flex: 0 0 15rem;
  max-height: 12rem;
  padding-right: 6px;
}

.log-item div:only-child {
  height: 100%;
}

.entry-content {
  flex: 7;
  background-color: chartreuse;
  padding: 12px;
  height: 100%;
} 

.entry-content div:only-child {
  justify-content: center;
  border-radius: 25px;
  padding-left: 10px;
  font-weight: 500;
  background-color: orange;
}

.entry-data {
  justify-content: space-between;
  color: chartreuse;
  font-weight: 800;
}
